# URL Y POST DEL BACKEND
BACKEND_HOST=192.168.2.xxx
BACKEND_PORT=3000

# URL Y PUERTO DE FRONTEND ACTUAL
FRONTEND_HOST=192.168.2.xxx
FRONTEND_PORT=3003

# PUERTO DEL FRONTEND LOGIN
LOGIN_FRONTEND_PORT=3001

#DEPLOY ENV prod | dev | test
DEPLOY_ENV=dev