# URL Y POST DEL BACKEND
NEXT_PUBLIC_BACKEND_HOST=192.168.2.240
NEXT_PUBLIC_BACKEND_PORT=3000

# URL Y PUERTO DE FRONTEND ACTUAL
NEXT_PUBLIC_FRONTEND_HOST=192.168.2.240
NEXT_PUBLIC_FRONTEND_PORT=3002

# PUERTO DEL FRONTEND LOGIN
NEXT_PUBLIC_LOGIN_FRONTEND_PORT=3001

#DEPLOY ENV prod | dev | test
NEXT_PUBLIC_DEPLOY_ENV=dev